import os
import requests

UNITYSVC_API_KEY = os.getenv("UNITYSVC_API_KEY")

url = "https://api.mistral.ai/v1/embeddings"

payload = {
    "model": "{{offering.name}}",
    "input": [
        "Embed this sentence.",
        "As well as this one."
    ]
}

headers = {
    "Content-Type": "application/json",
    "Authorization": f"Bearer {UNITYSVC_API_KEY}"
}

response = requests.post(url, json=payload, headers=headers)

print(response.json())
