const apiKey = process.env.UNITYSVC_API_KEY;
const ENDPOINT = process.env.UNITYSVC_BASE_URL;

const response = await fetch(`${ENDPOINT}`, {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
    Authorization: `Bearer ${apiKey}`,
  },
  body: JSON.stringify({
    model: "{{offering.name}}",
    input: [
      "Embed this sentence.",
      "As well as this one."
    ]
  })
});

const data = await response.json();
console.log(data);
