import os
import requests

UNITYSVC_API_KEY = os.environ.get("UNITYSVC_API_KEY")
UNITYSVC_BASE_URL = os.environ.get("UNITYSVC_BASE_URL")


payload = {
    "model": "{{offering.name}}",
    "input": [
        "Embed this sentence.",
        "As well as this one."
    ]
}

headers = {
    "Content-Type": "application/json",
    "Authorization": f"Bearer {UNITYSVC_API_KEY}"
}

response = requests.post(f"{UNITYSVC_BASE_URL}", headers=headers, json=data)

print(response.json())
